#head {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 12px 12px;
    background-color: rgba(255, 248, 169, 0.664);
    border-radius: 12px;
}

#head-image {
    padding: 10px;
    float: left;
}

#head-title {
    display: block;
}

#head-info {
    display: block;
    margin-top: 50px;
}

#select,
#event-dropdown {
    display: inline;
    margin-top: 65px;
}

.card {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 8px 8px;
    background-color: rgba(255, 248, 169, 0.664);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.575);
    transition: 0.3s;
    border-radius: 12px;
}

#card-image {
    padding: 10px;
    float: left;
}

#card-title {
    display: block;
}

#card-info {
    display: block;
    margin-top: 50px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2px 16px
}

 .map-avatar {
    justify-self: center;
    height: auto;
    width: auto;
 }